ci:
  skip: [pyright]

exclude: "tests"

repos:

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
    - id: check-added-large-files
    - id: check-ast
    - id: check-case-conflict
    - id: check-docstring-first
    - id: check-executables-have-shebangs
    - id: check-json
    - id: check-merge-conflict
      args:
        - --assume-in-merge
    - id: check-shebang-scripts-are-executable
    - id: check-symlinks
    - id: check-toml
    - id: check-vcs-permalinks
    - id: check-xml
    - id: check-yaml
    - id: debug-statements
    - id: destroyed-symlinks
    # - id: detect-aws-credentials
    - id: detect-private-key
    - id: end-of-file-fixer
    - id: mixed-line-ending
    - id: requirements-txt-fixer
    - id: trailing-whitespace
    - id: fix-encoding-pragma
      args:
      - --remove
    - id: name-tests-test
      args:
      - --pytest-test-first
    - id: no-commit-to-branch
    - id: pretty-format-json
      args: ['--autofix']
    # - id: sort-simple-yaml
        # files: .pre-commit-config.yaml

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.10.0
  hooks:
  - id: mypy
    name: mypy
    language: python
    language_version: python 3.12
    types: [python]
    require_serial: true
    verbose: true
    additional_dependencies: ['types-requests']
    # exclude: "tests"
    # args:
    # - --ignore-missing-imports
    # files: ^(src/|tests/)

- repo: https://github.com/PyCQA/isort
  rev: 5.13.2
  hooks:
  - id: isort
    args: ["--profile", "black", "--filter-files", "--combine-as", "honor--noqa"]

- repo: https://github.com/psf/black
  rev: 24.4.2
  hooks:
  - id: black
    language_version: python3.8
    args: ["--skip-magic-trailing-comma"]

- repo: https://github.com/asottile/pyupgrade
  rev: v3.16.0
  hooks:
  - args:
    - --py38-plus
    id: pyupgrade

- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.5
  hooks:
  - id: remove-tabs

# - repo: https://github.com/commitizen-tools/commitizen
#   rev: v2.40.0
#   hooks:
#   - id: commitizen

# pylint still broken in python 3.12
# - repo: https://github.com/pre-commit/mirrors-pylint
#   rev: v3.0.0a5
#   hooks:
#   - id: pylint
#     exclude: "tests"
#     name: pylint
#     args:
#     - --good-names=i,j,_,f
#     - --disable=protected-access
#     - --disable=no-member
#     - --disable=import-error
#     - --disable=no-name-in-module
#     - --load-plugins=pylint.extensions.docparams
#     - --accept-no-param-doc=n
#     - --accept-no-raise-doc=n
#     - --accept-no-return-doc=n
#     - --accept-no-yields-doc=n

- repo: https://github.com/astral-sh/ruff-pre-commit
  # ignores
  # COM812 Trailing comma missing (does not agree with Black)
  # D203 1 blank line required before class docstring (incompatible with D211)
  # D213 multi line summary second line (incompatible with D212):
  # ISC003 Explicitly concatenated string should be implicitly concatenated
  #
  # N806 Variable in function should be lowercase
  rev: 'v0.4.9'
  hooks:
    - id: ruff
      exclude: "tests"
      args:
      - --target-version=py38
      - --select=ALL
      - --ignore=COM812,D203,D213,ISC003,N806
      # - --fix

# reads pyproject.toml for additional config
- repo: https://github.com/RobertCraigie/pyright-python
  rev: v1.1.367
  hooks:
    - id: pyright
