ci:
  skip: [pyright]

exclude: "tests"

repos:

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
    - id: check-added-large-files
    - id: check-ast
    - id: check-case-conflict
    - id: check-docstring-first
    - id: check-executables-have-shebangs
    - id: check-json
    - id: check-merge-conflict
      args:
        - --assume-in-merge
    - id: check-shebang-scripts-are-executable
    - id: check-symlinks
    - id: check-toml
    - id: check-vcs-permalinks
    - id: check-xml
    - id: check-yaml
    - id: debug-statements
    - id: destroyed-symlinks
    # - id: detect-aws-credentials
    - id: detect-private-key
    - id: end-of-file-fixer
    - id: mixed-line-ending
    - id: requirements-txt-fixer
    - id: trailing-whitespace
    - id: name-tests-test
      args:
      - --pytest-test-first
    - id: no-commit-to-branch
    - id: pretty-format-json
      args: ['--autofix']
    # - id: sort-simple-yaml
        # files: .pre-commit-config.yaml

- repo: https://github.com/asottile/pyupgrade
  rev: v3.21.1
  hooks:
  - args:
    - --py310-plus
    id: pyupgrade

- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.5
  hooks:
  - id: remove-tabs

- repo: https://github.com/charliermarsh/ruff-pre-commit
  # ignores
  # COM812 Trailing comma missing (does not agree with Black)
  # D203 1 blank line required before class docstring (incompatible with D211)
  # D213 multi line summary second line (incompatible with D212):
  # ISC003 Explicitly concatenated string should be implicitly concatenated
  # FLY Use f-string instead of ...
  #
  # N806 Variable in function should be lowercase
  # N802 function name should be lowercase
  # N803 argument name should be lowercase
  # ICN001 import numpy as np
  rev: 'v0.14.4'
  hooks:
    - id: ruff
      exclude: "tests"
      args:
      - --target-version=py310
      - --select=ALL
      - --ignore=COM812,D203,D213,ISC003,FLY,N806,N802,N803,ICN001
      - --fix
      - --fixable=RUF022
    - id: ruff
      args: ["check", "--select", "I", "--fix"]
    - id: ruff-format
      name: "ruff-format"

# reads pyproject.toml for additional config
- repo: https://github.com/RobertCraigie/pyright-python
  rev: v1.1.407
  hooks:
    - id: pyright
